* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: url("./img/bg.png");
  color: white;
  line-height: 1.42;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;

}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  color: black;
  padding: 0;
  outline: none;
  border: 1px, solid transparent;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main-page-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page-wrapper {
  background: url("./img/background1.png") center top no-repeat, url("./img/background2.png") center bottom no-repeat;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.header {
 
  margin-bottom: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
}

.header__col{
  
  width: 33%;
  
}

/* .header__col--center{
 text-align: center;
} */

.menu__list{
  display: flex;
  justify-content: space-around;
}

/* .menu {
  display: inline-block;
} */


/* .menu__item {
  
  margin-right: 62px;
}

.menu__item:last-child {
  margin-right: 0;
} */

.menu__link {
  font-size: 16px;
}

.contacts {
  justify-content: right;
  right: 0px;
  text-align: right;
}

.contacts__phone {
  font-style: normal;
  font-size: 26px;
}

.contacts__title {
  text-decoration: underline;
  font-style: normal;
  font-size: 13px;
  margin-top: -5px;
}


.main-title {
  width: 637px;
  text-align: left;
  margin-bottom: 182px;
}

.main-title__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 24px;
}

.main-title__info {
  margin-bottom: 94px;
  font-size: 21px;
}

.main-title__examples {
  font-size: 14px;

}

.week-news__content-list{
  display: flex;
}


.week-news__conent-item {
  background-color: white;
  width: 358px;
  height: 449px;
  margin-top: 54px;
  margin-right: 27px;
  border-radius: 5px;
  color: black;
}

.week-news__conent-item:last-child {
  margin-right: 0;
}

.week-news__last {
  font-size: 36px;
  margin-right: 9px;
  font-weight: bold;
}

.week-news__name,
.game-length,
.week-news__example-preview,
.week-news__desc,
.week-news__time-icon {
  padding-left: 22px;
}

.week-news__desc {
  color: #303030;
  ;
}

.week-news__name {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}

.week-news__time-length {
  font-size: 16px;
  padding-left: 10px;
  margin-right: 50px;
  margin-top: 23px;
}

.week-news__q-a-icon {
  margin-right: 10px;
}

.week-news__time-icon {
  margin-top: 15px;
}

.week-news__desc {
  font-size: 14px;
  margin-top: 26.5px;
  margin-bottom: 25.5px;
}

.button {
  background: #8F00FF;
  border-radius: 5px;

  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 29px;
  cursor: pointer;
  border: 2px solid transparent;
  color: #FFFFFF;
}

.button--border {
  border-color: #8F00FF;
  background: #8F00FF;
  color: fff;
}

.week-news__example-preview {
  margin-left: 22px;
}


.previous-games__title {
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 52px;
}

.previous-games__list{
  display: flex;
}

.previous-games__content {
  width: 557px;
  height: 394px;
  margin-right: 16px;
  position: relative;
  display: flex;
  align-items: flex-end;
}


.previous-games__content:last-child {
  margin-right: 0px;
}

.previous-games--left{
  background: url('./img/kto_gde_kviz__moskva_1_qg_large\ 1.png');
}

.previous-games--right{
  background: url('./img/3187ee0fc9499a1ef1583ff3c981cf5a\ 1.png');
}

.previous-games__games-content {
/* display: flex;
align-items: flex-end;
  left: 29px;
  right: 76px;
  bottom: 31px; */
  margin: 0 48px 36px 26px;
}

.previous-games__date-games {

  font-size: 14px;
  line-height: 21px;
}

.previous-games__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 12px;
}

.previous-games__news {
  margin-top: 1px;
}

.paginator {
  text-align: center;
  margin-top: 44.5px;
}

.paginator__link,
.paginator__display {
  font-size: 16px;
}

/* .paginator__display,
.paginator__list,
.paginator__item {
  display: inline-block;
  vertical-align: middle;
} */

.paginator{
  display: flex;
  justify-content: center;
  
}

.paginator__list{
  display: flex;
}

.paginator__display {
  margin-right: 50px;
}

.paginator__link {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.paginator__link--active {
  background: #8F00FF;
  color: #FFFFFF;
  border-radius: 50%;
}

.about {
  /* display: flex; */
  margin-top: 146.5px;
  margin-bottom: 100px;
}

.about__img,
.about__content {
  display: inline-block;
  vertical-align: top;
}

.about__title {
  font-size: 36px;
}

.about__text {
  padding-top: 37px;
  font-size: 16px;
}




.about__content {
  background: linear-gradient(#8F00FF, #148CFF);
  width: 743px;
  height: 455px;
  margin-left: -100px;
  margin-top: 96px;
  padding: 70px 202px 119px 42px;
}

.about__button {
  border-color: transparent;
  color: #FFFFFF;
  margin: 43px 536px 66px 0px;
}








footer {
  /* position: relative;
  height: 203px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

footer .menu__item{
  margin-right: 25px;
}

.menu__list{
  display: flex;
}

.social__list{
  display: flex;
}

.social__item {

  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}



.contacts__text {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}


/* games page */



.top-line{
  min-height: 412px;
  background: url('/img/bg-games.png');
  
}

.top-line__container{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title{
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 112px;
  margin-top: -27px;
}

.breadcrumbs__list{
  display: flex;
  align-items: center;
 

}

.breadcrumbs__link{
  color: #9A9A9A;
  font-size: 14px;
}

.breadcrumbs__item--active{
  font-weight: bold;
}

.breadcrumbs__link{
  text-decoration: underline;
}

.breadcrumbs__item:after{
  content: "/";
  color: #9A9A9A;
  
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.page-content{
  color: #303030;
  background: #F2F2F2;
  padding: 96px 0;
}

.games__item{
  display: flex;
  margin-bottom: 44px;
}

.games__item:last-child{
  margin-bottom: 0px;
}

.games-content__img-icon{
  width: 96%;
  margin-right: 20px;
}

.games__content{
flex: 1;
padding-left: 37px;
padding-top: 10px;
}

.games__title{
  color: #000000;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 19.5px;
}

.games__desc{
  font-size: 15px;
  line-height: 27px;
  padding-top: 10px;
  margin-bottom: 40px;
}


.paginator--games a{
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.paginator--games .paginator__link--active{
  color: #FFFFFF;
}

.paginator--games{
  margin-top: 60px;
}

.games__btn--oneof{
  background: #FFFFFF;
  color: #8F00FF;
  outline: solid #8F00FF;
  padding: 13px 38px;
}


.inner-section{
  background: #FFFFFF;
  color: #000000;
  padding: 75px;
}

.inner-section-bg{
 background: #F4F5F5 ; 
}

.inner-section__title{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 65px;
}

.partners{
  display: flex;
  flex-wrap: wrap;
}

.partners__item{
  margin-left: 30px;
}

.partners__item:nth-child(4n+1){
  margin-left: 0;
}

.partners__link{
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.inner-footer{
  margin-top: 48px;
  height: 140px;
}